@import '../variables.css';

.root {
  margin-bottom: 20px;
}

h4 span {
  display: block;
}

.summaryListItem {
    display: inline;
    margin-right: 32px;
    /* margin-right: 5%; */
    float: left;
    margin-top: 20px;
    list-style: none;
}

.summaryValue {
    color: #666;
    font-weight: 700;
    font-size: 2em;
}

.summaryName {
    font-weight: 400;
    color: #808080;
    font-size: .9em;
    text-transform: capitalize;
}

.smallCurrency {
    font-size: .5em;
    display: inline;
    color: #999;
}
