@import '../../components/variables.css';

body {
  background-color: #862d78;
}

.root {
  padding-left: 20px;
  padding-right: 20px;
  margin-top: 15%;
}

.container {
  width: 970px;
  margin: 0 auto;
  padding: 0 0 40px;
  max-width: var(--max-content-width);
}

.left {
  width: 40%;
  position: relative;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
  color:#fff;
  float: left;
}

.right {
  width: 60%;
  position: relative;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
  float: left;
}
