@import '../../components/variables.css';

body {
  /*background-color: #862d78;*/
  background-image: url("../../public/bg.jpg");
}

.root {
  padding-left: 20px;
  padding-right: 20px;
  margin-top: 15%;
}

.container {
  width: 970px;
  margin: 0 auto;
  padding: 0 0 40px;
  max-width: var(--max-content-width);
}

.left {
  width: 40%;
  position: relative;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
  color:#fff;
  float: left;
}

.right {
  width: 60%;
  position: relative;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
  float: left;
}

.left button {
  color: #000;
}

h5 span {
  display: block;
}

.summaryContainer {
  width:100%;
}

.summaryListItem {
    display: inline;
    margin-right: 32px;
    margin-top: 20px;
    list-style: none;
    color: rgba(255, 255, 255, 0.55);
}

.summaryValue {
    color: rgba(255, 255, 255, 0.85);
    font-weight: 700;
    font-size: 2em;
}

.summaryName {
    font-weight: 400;
    color: rgba(255, 255, 255, 0.35);
    font-size: .9em;
    text-transform: capitalize;
}

.smallCurrency {
    font-size: .5em;
    display: inline;
    color: rgba(255, 255, 255, 0.35);
}
